body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-button {
  font-family:
    Google Sans,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 11px 23px;
  vertical-align: baseline;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #006a0b;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: #fff;
  border: none;
  margin: 5px 0;
  margin-right: 10px;
  text-decoration: none;
}

.danger {
  background-color: #fd6794;
}

.warning {
  background-color: #dfa300;
}

img {
  width: 200px;
  height: auto;
}
.header {
  background-color: #8bc34ab0;
  padding: 5px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
  position: sticky;
  top: 0;
  text-align: center;
}

/* Styling for alerts */

.success {
  margin: 0 auto;
  border: 2px solid #009d37;
  background-color: #2ca701;
  color: #fff;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.warning {
  margin: 0 auto;
  border: 2px solid #b98800;
  background-color: #dfa300;
  color: #fff;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.danger {
  margin: 0 auto;
  border: 2px solid #ff004c;
  background-color: #fd6794;
  color: #fff;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

/* Styling for inputs */

input[type="text"],
input[type="search"],
select,
option {
  border-radius: 5px;
  border: 1px solid #3f51b5;
  font-size: 12pt;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 10px 10px;
}

.searchbar {
  border-radius: 5px;
  border: 1px solid #3f51b5;
  font-size: 12pt;
  width: 98.8%;
  /* 
    Padding top en de bottom gelijke hoogte geven,
    zodat de letter mooi in het midden gecentreerd blijven 
  */
  padding-bottom: 10px;
  padding-top: 10px;
}

.searchbar-holder {
  padding: 10px;
  background-color: #f1356d;
  border-radius: 5px;
  height: 62px;
  position: sticky;
  top: 0;
  width: 100%;

  /* 
    Border-box gebruikern om te 
    voorkomen dat de searchbox 
    buiten de .searchbar-holder schiet.
  */
  box-sizing: border-box;
  align-content: center;
  margin-bottom: 10px;
}

select,
option {
  width: 20px;
}

/* Styling for cardview */

.product-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-preview-content {
  width: 14%;
  margin: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
}

/* Menu styling */

/* Desktop menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* MediaQuery styling */

@media only screen and(min-width: 375px) and (max-width: 560px) {
}

@media only screen and(min-width: 561px) and (max-width: 760px) {
}

@media only screen and (min-width: 761px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
}
